[CPU_fan]
#interval to check the CPU temp and Adjust the fan (in seconds)
interval = 15
#Fan Pulse width, set between 20 and 140 (in Hz)
Frequency = 50
#Percentage to adjust the fan speed (in Percentage)
SpeedStep = 10
# temp above Idle temp (in Degrees C)
TargetTemp = 55
#temp the Pi throttles the CPU, usually 80C (in Degrees C)
MaxTemp = 80
# the minimum dutycycle required to start spinning the fan (in Percentage)
MinOnDutycycle = 30 
